{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Add Password</h2>
    <div class="row">
        <!-- Left Column - Add Password Form -->
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('add_password') }}">
                <div class="form-group">
                    <label for="name">Password Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Back</a>
                <button type="submit" class="btn btn-dark">Add</button>
            </form>
        </div>
        <!-- Right Column - Secure Password Generation -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="generated_password">Generated Secure Password:</label>
                <input type="text" class="form-control" id="generated_password" name="generated_password" readonly>
                <button type="button" class="btn btn-dark mt-2" onclick="generateSecurePassword()">Generate Password</button>
                <small class="form-text text-muted">Click the button to generate a secure password.</small>
            </div>
        </div>
    </div>
</div>

<script>
  function generateSecurePassword() {
    const length = 64; // Increase the password length to 16 characters
    const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+"; // Character set for the password
    let securePassword = "";

    const crypto = window.crypto || window.msCrypto; // Cross-browser support

    if (crypto) {
      const randomValues = new Uint32Array(length);
      crypto.getRandomValues(randomValues);

      for (let i = 0; i < length; i++) {
        const randomIndex = randomValues[i] % charset.length;
        securePassword += charset.charAt(randomIndex);
      }

      document.getElementById('generated_password').value = securePassword;
    }
  }
</script>
{% endblock %}
