{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Editar Senha</h2>
  <div class="row">
    <!-- Left Column - Manual Password Entry -->
    <div class="col-md-6">
      <form method="post">
        <div class="form-group">
          <label for="name">Nome:</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ password.name }}" required>
        </div>
        <div class="form-group">
          <label for="username">Nome de Usuário:</label>
          <input type="text" class="form-control" id="username" name="username" value="{{ password.username }}" required>
        </div>
        <div class="form-group">
          <label for="password">Senha:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-success">Editar Senha</button>
      </form>
    </div>

    <!-- Right Column - Secure Password Generation -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="generated_password">Senha Segura Gerada:</label>
        <input type="text" class="form-control" id="generated_password" name="generated_password" readonly>
        <button type="button" class="btn btn-info mt-2" onclick="generateSecurePassword()">Gerar Senha</button>
      </div>
    </div>
  </div>
</div>

<script>
  function generateSecurePassword() {
  const length = 64; // Aumentar o comprimento da senha para 64 caracteres
  const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+"; // Character set for the password
  let securePassword = "";

  const crypto = window.crypto || window.msCrypto; // Cross-browser support

  if (crypto) {
    const randomValues = new Uint32Array(length);
    crypto.getRandomValues(randomValues);

    for (let i = 0; i < length; i++) {
      const randomIndex = randomValues[i] % charset.length;
      securePassword += charset.charAt(randomIndex);
    }

    document.getElementById('generated_password').value = securePassword;
  }
}
</script>
{% endblock %}
