{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Password Details</h2>

  <!-- Name -->
  <p>
    <strong>Name:</strong> {{ password.name }}
  </p>

  <!-- Username -->
  <p>
    <strong>Username:</strong> {{ password.username }}
  </p>

  <!-- Password -->
  <p class="password-field">
    <strong>Password:</strong>
    <!-- Button to reveal the password -->
    <span id="password" class="hidden-password">{{ hiddenPassword }}</span>
    <button id="show-password-button" class="btn btn-dark">Show Password</button>
    <button id="copy-password-button" class="btn btn-primary">Copy Password</button>
  </p>
</div>
<a href="{{ url_for('index') }}" class="btn btn-secondary">Back</a>

<script>

  // HTML Elements
  const passwordField = document.querySelector('.password-field');
  const password = document.getElementById('password');
  const showPasswordButton = document.getElementById('show-password-button');

  // Variable to control password visibility
  let isPasswordVisible = false;

  // Function to toggle between showing and hiding the password
  function togglePasswordVisibility() {
    isPasswordVisible = !isPasswordVisible;
    const passwordElement = document.querySelector('.hidden-password');

    if (isPasswordVisible) {
      passwordElement.textContent = '{{ decrypted_password }}';
      showPasswordButton.textContent = 'Hide Password';
      showPasswordButton.classList.remove('btn-primary');
      showPasswordButton.classList.add('btn-danger');
    } else {
      passwordElement.textContent = '{{ hiddenPassword }}';
      showPasswordButton.textContent = 'Show Password';
      showPasswordButton.classList.remove('btn-danger');
      showPasswordButton.classList.add('btn-primary');
    }
  }

  // Add an event listener to toggle password visibility
  showPasswordButton.addEventListener('click', togglePasswordVisibility);

  // HTML Element for "Copy Password" button
  const copyPasswordButton = document.getElementById('copy-password-button');

  // Function to copy the password to the clipboard
  function copyPasswordToClipboard() {
    const passwordText = password.textContent;
    const textArea = document.createElement('textarea');
    textArea.value = passwordText;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand('copy');
    document.body.removeChild(textArea);

    // Update the button text after copying
    copyPasswordButton.textContent = 'Password Copied!';
    setTimeout(function () {
      copyPasswordButton.textContent = 'Copy Password';
    }, 2000);
  }

  // Add an event listener to the "Copy Password" button
  copyPasswordButton.addEventListener('click', copyPasswordToClipboard);

</script>
{% endblock %}
